@model Car

@{
    ViewData["Title"] = "Rediger bil";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="EditCar" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label for="LicensePlate">Registreringsnummer</label>
        <input type="text" id="LicensePlate" name="LicensePlate" value="@Model.LicensePlate" readonly />
    </div>
    <div>
        <label for="Description">Beskrivelse</label>
        <input type="text" id="Description" name="Description" value="@Model.Description" />
    </div>
    <div>
        <label for="Model">Modell</label>
        <input type="text" id="Model" name="Model" value="@Model.Model" />
    </div>
    <div>
        <label for="Brand">Merke</label>
        <input type="text" id="Brand" name="Brand" value="@Model.Brand" />
    </div>
    <div>
        <label for="TireCount">Antall Dekk</label>
        <input type="number" id="TireCount" name="TireCount" value="@Model.TireCount" />
    </div>
    
    <input type="hidden" name="CompanyId" value="@Model.CompanyId" />
    <button type="submit">Lagre endringer</button>
</form>
